body {
  background-color: #051625;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .header_cadastro {
  display: inline;
  
  max-width: max-content;  
  
} */

/* .btcadastro {
  justify-items: flex-end;
  width: 4rem;
  height: 6vw;
  margin: 0% auto;
  max-width: 100%;
} */


.titulo-centralizado {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: white;
}

  .menu {
    text-align: center; 
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu ul li {
    display: inline-block;
    margin: 0 10px; 
  }
  
  .menu ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px; 
    border: 1px solid #cccccc; 
    border-radius: 8px;
  }
  
  .menu ul li a:hover {
    color: #051625;
    background-color: #f1f1f1; 
  }
  

.tranding {
  background-color: #051625;
  margin-top: 4em;
}

.tranding > h1 {
  color: white;
  text-align: center;
}

.games_list {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.games {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games > img {
  height: 224px;
  width: 400px;
}

.games > p{
  text-align: center;
  color: white;
  font-weight: 700;
  border: solid 2px white; 
  border-radius: .8em;
  padding: .5em;
}

.whoAreWe{
  height: 500px;
}

.whoAreWe > h1{
  color: white;
  margin-left: 2em;
}

.whoAreWeContent{
  display: flex;
  flex-direction: row;
  margin-left: 4em;
}

.whoAreWeContent > img{
  width: 600px;
}

.whoAreWeText{
  border:solid white 2px;
  color: white;
  border-radius: 10px;
  height: 25em;
  width: 40em;
  margin-left: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textArea{
  width: 80%;
  text-align: center;
  font-size: 25px;
  font-weight: 450;
}
