header{
    background-color: orange ;
    width: 100%;

}

#col1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8em;
}

#col1 img{
    background-color: orange;
    width: 100px;
    margin-left: 1em;
   
}

#col2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#col2 h1{
    margin-right: 5rem;
}

nav{
    background-color: orange;
    
}

nav > .row > .col > a{
    color: white;
}

nav > .row > .col > a:hover{
    text-decoration: none;
    background-color: white;
    padding: white;
    color: black;
    transition: .5s;
    
}




